/* @font-face {
  font-family: "____";
  src: url("____") format("woff2"),
      url("____") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Times New Roman",serif;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.container {
  max-width: 900px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

.nav-item{
  display: flex;
  align-items: center;
}

.nav-item:not(:last-child)::after{
  content: "";
  width: 1px;
  height: 15px;
  display: block;
  background-color: #777;
}

.team__item-slash{
  display: flex;
  align-items: center;
}

.team__item-slash::after {
  content: "";
  width: 1px;
  height: 12px;
  display: block;
  background-color: #111;
  margin-left: 4px;
  margin-right: 4px;
}